*{
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 1920px;
    height: 100px;
}

ul{
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #c8d6e4;
    overflow: hidden;
    list-style-type: none;
}

li a  {

    display: inline-block;
    color:#2c71b8 ;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.search {
    width: 200px;
    height: 40px;
    
}

p {
    display: inline-block;
    color:#2c71b8 ;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

span {
    display: inline-block;
    color:#2c71b8 ;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}